<c-card>
    <c-card-header>Set di regole</c-card-header>
    <c-card-body>
        <table cTable>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Set</th>
                    <th scope="col">File di configurazione</th>
                    <th scope="col">Stato</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <ng-container *ngIf="allRules!=undefined">
                        <td>{{allRules.set.ruleSetName}}</td>
                        <td>
                            <div class="rs_div">
                                <ng-container *ngFor="let r of allRules.set.confFiles">
                                    {{r}}<br>
                                </ng-container>
                            </div>
                        </td>
                    </ng-container>
                    <td id="statusSwitchTd">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="statusSwitch" checked>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>
<br>
<c-card>
    <c-card-header>Regole personalizzate</c-card-header>
    <c-card-body>
        <table cTable>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome regola</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Testo regola</th>
                    <th scope="col">Fase di attivazione</th>
                    <th scope="col">Azione</th>
                    <th scope="col">Gestione</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="allRules!=undefined">
                <tr *ngFor="let rule of allRules.custom;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{rule.name}}</td>
                    <td>{{rule.desc}}</td>
                    <td>{{rule.text}}</td>
                    <td>{{rule.phase}}</td>
                    <td>{{rule.action}}</td>
                    <td>
                        <button cButton>
                            Elimina
                        </button>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </c-card-body>
</c-card>
<br>
<c-card>
    <c-card-header>Aggiungi regola</c-card-header>
    <c-card-body>
        <form [gutter]="3" [validated]="newRuleFormValidated" cForm cRow class="needs-validation" (submit)="newRule()" ngNativeValidate>
            <c-col [md]="2">
                <label cLabel for="ruleName">Nome regola</label>
                <input cFormControl id="ruleName" name="ruleName" [(ngModel)]="ruleName" required type="text" placeholder="Nome regola" />
            </c-col>
            <c-col [md]="2">
                <label cLabel for="ruleDesc">Descrizione</label>
                <input cFormControl id="ruleDesc" name="ruleDesc" [(ngModel)]="ruleDesc" required type="text" placeholder="Descrizione" />
            </c-col>
            <c-col [md]="4">
                <label cLabel for="ruleText">Testo regola</label>
                <input cFormControl id="ruleText" name="ruleText" [(ngModel)]="ruleText" required type="text" placeholder="Testo regola" />
            </c-col>
            <c-col [md]="2">
                <label cLabel for="rulePhase">Fase di attivazione</label>
                <select cSelect id="rulePhase" name="rulePhase" [(ngModel)]="rulePhase" required>
                    <option value="" selected disabled hidden>Scegli fase</option>
                    <option *ngFor="let n of [].constructor(5);let i=index">{{i+1}}</option>
                </select>
            </c-col>
            <c-col [md]="2">
                <label cLabel for="ruleAction">Azione</label>
                <select cSelect id="ruleAction" name="ruleAction" [(ngModel)]="ruleAction" required>
                    <option value="" selected disabled hidden>Scegli azione</option>
                    <option>allow</option>
                    <option>deny</option>
                </select>
            </c-col>
            <c-col [xs]="12">
                <button cButton class="me-1" color="primary" type="submit">
                    Invia
                </button>
            </c-col>
        </form>
    </c-card-body>
</c-card>

<c-modal id="liveDemoModal" [visible]="visible">
    <c-modal-header>
      <h5 cModalTitle>Conferma operazione</h5>
    </c-modal-header>
    <c-modal-body>Regola aggiunta correttamente!</c-modal-body>
    <c-modal-footer>
      <button (click)="toggleModal()" cButton color="primary">Chiudi</button>
    </c-modal-footer>
  </c-modal>