<c-card>
    <c-card-header>Log</c-card-header>
    <c-card-body>
        <table cTable>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Socket container</th>
                    <th scope="col">Socket client</th>
                    <th scope="col">Data e ora</th>
                    <th scope="colgroup" colspan="2">Minaccia rilevata</th>
                    <th scope="col">Pattern rilevato</th>
                    <th scope="col">Richiesta</th>
                    <th scope="col">Gravità</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of logData;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{log['client_socket']}}</td>
                    <td>{{log['container_socket']}}</td>
                    <td>{{log['datetime']}}</td>
                    <td><c-icon *ngIf="log['type']!='NOTICE'&&log['type']!='INFO'&&log['type']!='DEBUG'" name="cilWarning" size="xl"></c-icon></td>
                    <td>{{log['threat']}}</td>
                    <td>{{log['matched_pattern']}}</td>
                    <td>{{log['matched_data']}}</td>
                    <td>{{log['severity']}}</td>
                </tr>
            </tbody>
        </table>
    </c-card-body>
</c-card>