#h-warning{
    position: absolute;
    margin-top: 0.5vw;
    right: 2vw;
}

#userInfo{
    padding: 0.5vw;
    background-color: rgb(63, 70, 77);
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}

.sidebar, .header, .nav-item,.nav-link,#sidebarTButton{
    background-color: rgb(78, 87, 97);
    color: lightgray;
}

#logoutButton{
    background-color: lightgray;
}

#userInfo svg{
    margin-right: 0.3vw;
}

#userInfo p{
    text-align: center;
    margin: 0px;
    font-size: 1vw;
}

.wrapper {
    padding-left: var(--cui-sidebar-occupy-start);
  }

#content{
    margin: 1vw;
}