#h-warning{
    position: absolute;
    margin-top: 0.5vw;
    right: 2vw;
}

#userInfo{
    padding: 0.5vw;
    background-color: #173753;
}

#sidebar,.header,.nav-link, #sidebarTButton, #h-warning{
    background-color: #2d3142;
    color: rgba(255,255,255,.6);
}

.nav-link:hover{
    color:rgba(255,255,255,.6);
}

#logoutButton{
    background-color: #173753;
    border: none;
    color: rgba(255,255,255,.6);
    font-size: 1vw;
    padding: 0.5vw;
}

#userInfo p{
    text-align: center;
    font-size: 95%;
    margin: 0px;
}

.wrapper {
    padding-left: var(--cui-sidebar-occupy-start);
    height: 100%;
    background-color: #fcfafa;
  }

#selectContainer{
    background-color: #fcfafa;
}

#content{
    margin: 1vw;
}

.sidebar-nav{
    flex:none;
}

.div_text{
    padding: 0.25vw;
    text-align: center;
    font-weight: bold;
}

.div_text p{
    margin: 0px;
}