#h-warning{
    position: absolute;
    margin-top: 0.5vw;
    right: 2vw;
}

#userInfo{
    padding: 0.5vw;
    background-color: #086948;
}

#sidebar,.header,.nav-link, #sidebarTButton, #h-warning{
    background-color: #1a5875;
    color: rgba(255,255,255,.6);
}

.nav-link:hover{
    color:rgba(255,255,255,.6);
}

#logoutButton{
    background-color: rgba(241, 37, 14, 0.6);
    border: none;
    color: rgba(255,255,255,.6);
    font-size: 1vw;
    padding: 0.5vw;
}

#userInfo svg{
    margin-right: 0.3vw;
}

#userInfo p{
    text-align: center;
    margin: 0px;
    font-size: 1vw;
}

.wrapper {
    padding-left: var(--cui-sidebar-occupy-start);
  }

#content{
    margin: 1vw;
}

.sidebar-nav{
    flex:none;
}

.div_text{
    padding: 0.5vw;
    text-align: center;
}

.div_text p{
    margin: 0px;
}