<ng-container *ngIf="auth.user$ | async as user">
  <c-sidebar visible id="sidebar">
    <c-sidebar-brand>WAF Admin Control Panel</c-sidebar-brand>
    <div id="userInfo">
      <p>
        {{user.name+" -- "+(this.sdk.isAdmin?'Amministratore':'Utente di gestione')}}
      </p>
      <p *ngIf="this.containerInfo.domain!=''||(this.sdk.adminMode&&this.containerInfo.domain=='')">
        Container corrente:{{this.containerInfo.domain!=""?this.containerInfo.domain:"Regole generali"}}
      </p>
    </div>
    <select cSelect id="selectContainer" name="selectContainer" (change)="selectContainer($event)" required>
      <option value="" selected disabled hidden>Scegli container</option>
      <option *ngIf="this.sdk.isAdmin" value="admin_rules">Regole generali</option>
      <option *ngFor="let container of containerArr" value="{{container._id}}">{{container.domain}}</option>
    </select>
    <div class="div_text">
      <p>Gestione WAF</p>
    </div>
    <c-sidebar-nav [navItems]="navItems"></c-sidebar-nav>
    <ng-container *ngIf="this.sdk.isAdmin&&this.sdk.adminMode">
      <div class="div_text">
        <p>Amministrazione</p>
      </div>
      <c-sidebar-nav [navItems]="navItemsAdmin"></c-sidebar-nav>
    </ng-container>
    <button id="logoutButton" (click)="auth.logout({ returnTo: 'http://gestione.localhost' })">
      <c-icon name="cilAccountLogout" size="lg"></c-icon>Log out
    </button>
  </c-sidebar>
</ng-container>
<div class="wrapper">
  <c-header>
    <c-container [fluid]="true">
      <c-header-nav class="d-none d-lg-flex me-auto">
        <c-nav-item>
          <button id="sidebarTButton" toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
            <c-icon name="cilMenu" size="lg"></c-icon>
          </button>
        </c-nav-item>
        <c-nav-item>
          <a [routerLink]="['/']" cNavLink>Home</a>
        </c-nav-item>
        <c-nav-item id="h-warning">
          <p>Attenzione alle modifiche apportate!</p>
        </c-nav-item>
      </c-header-nav>
    </c-container>
  </c-header>
  <div id="content">
    <router-outlet *ngIf="this.containerInfo.id!=''||(this.sdk.isAdmin&&this.sdk.adminMode); else NotSelContainer"></router-outlet>
  </div>
</div>

<ng-template #NotSelContainer>
  <div id="notSelContDiv">
    Seleziona un container per procedere
  </div>
</ng-template>