#m_td{
    width: 30%;
}

.m_div{
    white-space: nowrap;
}

.m_div p{
    width: 30vw;
    height: 2vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }